
 <app-form (userAddEvent) = "addUser($event)"></app-form>
<ul>
<li *ngFor = "let user of users" >
<app-user [user] = user (deleteEvent) = "deleteUser($event)" 
                        (editEvent) = "editUser($event)"> </app-user>
                               <ul> 
        <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>                                     
        </li> 
  
</ul>

