<h1>
{{title}}
</h1>
<nav>
  <!--<a routerLink='./products'>Products</a>-->
  <!--<a routerLink='./users'>Users</a>-->
  <a routerLink='./Invoices'>Invoices</a>
  <a routerLink='./InvoiceForm'>Invoice Form</a>
</nav> <br>
<button (click)="goApi()">Insert Invoice Automaticly </button>
<router-outlet></router-outlet>


