
<app-invoice-form  (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
<p>.המקומי console נשמרים ב  InvoiceForm הנתונים הנשלחים דרך עמוד </p>
<p> .FireBaseנשמרים ב  Invoices ואילו הנתונים הנשלחים דרך עמוד </p>

<h2>List of invoices</h2>
<app-spinner [visible] = "isLoading"></app-spinner>
<ul class="list-group users">
  <li class="list-group-item" *ngFor = "let invoice of invoices" [class.active]="currentUser == invoice" (click)="select(invoice)" >
  <app-invoice [invoice] = invoice > </app-invoice>
                                     
   </li>   
</ul>