<!--<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

ul, li {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>-->


  <tr>
    <th>Products list :</th>
  <tr>

<ul>
    <li *ngFor = "let product of products" >
   
    <app-product [product] = product (deleteEvent) = "deleteUser($event)" 
                            (editEvent) = "editProduct($event)"> </app-product>
                                
        <ul>
        <li *ngFor = "let cname of product.categoryNames">
            {{(cname | async)?.cname}}
        </li><br>
        </ul>
                  
    </li>
</ul>  

<!--
               הטבלה של רותם

    
<div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Cost</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let product of products">
        <td>{{product.pname}}</td>
        <td>{{product.cost}}</td>
        <td *ngFor = "let cname of product.categoryNames">{{(cname | async)?.cname}}</td>
      </tr>
    </tbody>
  </table>
  </div>-->
