
<!-- EDIT  תצוגה של התכונות במסך יופיעו כאשר לא לוחצים על כפור    !--> 
<span *ngIf = "!isEdit" >
  <b>Product Id: </b> {{product.pid}},<br> 
  <b>Product Name: </b> {{product.pname}},<br>
  <b>Cost: </b> {{product.cost}},<br>
  <b>Category Id: </b> <!--{{product.categoryId}} <br>
 </span>  

<!-- EDIT  תצוגה של התכונות אותם נרצה לערוך יופיעו כאשר לוחצים על כפור    !--> 
<span *ngIf = "isEdit" >
<b>Product Id: </b> <input type="text" [(ngModel)] = "product.pid"><br>
<b>Product Name: </b> <input type="text" [(ngModel)] = "product.pname"><br>
<b>Cost: </b> <input type="text" [(ngModel)] = "product.cost"><br>
<b>Category Id: </b> <input type="text" [(ngModel)] = "product.categoryId"></span><br>

<!--  EDIT יופיע  כאשר לא לוחצים עלDELETE כפתור  !--> 
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button>

<!-- פשוט לעתיק    !--> 
<button (click) = "toggleEdit()" >{{editButtonText}}</button> 

<!-- פשוט לעתיק   !--> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button>


<!--
          הטבלה של רותם
<div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Cost</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let product of products">
        <td>{{product.pname}}</td>
        <td>{{product.cost}}</td>
        <td *ngFor = "let cname of product.categoryNames">{{(cname | async)?.cname}}</td>
      </tr>
    </tbody>
  </table>
  </div>-->